$mainBackgroundColorLight: white;
$mainHoverColorLight:black;
$mainColorLight:grey;
$advertiseCardColor:white;

$mainBackgroundColorDark: black;
$mainColorrDark:white;
$mainHoverColorDark:rgb(189, 189, 189);





html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

.modal .modal-dialog-aside {
  width: 350px;
  max-width: 80%;
  height: 100%;
  margin: 0;
  //transform: translate(200px,0px)!important;
  // transition: opacity  5s !important;
}

.modal .modal-dialog-aside .modal-content {
  height: inherit;
  border: 0;
  border-radius: 0;
  ;
}

.modal-header {
  justify-content: left !important;
}

@mixin hover-focus() {
  &:hover,
  &:focus {
    @content;
  }
}

.nav{
  color:$mainColorLight;
}

.nav-link {
  color: $mainColorLight !important;

  @include hover-focus() {
    color: $mainHoverColorLight !important;
  }

  &.disabled {
    color: $mainColorLight!important;
  }
}



.show > .nav-link,
.active > .nav-link,
.nav-link.show,
.nav-link.active {
  color: $mainHoverColorLight!important;
}

.formControl {
  height: 25px !important;
}



.card-text{
  color:$advertiseCardColor;
 
}
.card-body{
  i{
    color:$advertiseCardColor;
  } 
 
}

.pillButton {
  width:300px !important;
  border-radius: 16px !important;
  background-color:white !important;
  border-color:white !important;
  color:black !important;
  font-weight: bold !important;
}
